body{
    background-image: url(/AtividadesVScode/img/estrada2.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 20px;
    color:aquamarine
    
}
   
ul {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
footer{
    text-align: right;
}

h1{
    text-align: center;
}
.teste{

    text-decoration: aliceblue;
}

#exemplo{
    text-align: center;
}
#exemplo p{
    color: blueviolet;
    font-size: 20px;
}