
.titulo{
    
    display: flex;
    margin-top: 5px;
    width: 600px;
    height: 150px;
    justify-content: center;

}
.form{
    background-color: white;
    display: flex;
    height: 900px;
    width: 600px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;

}
.field{ 
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    height: 300px;
    width: 600px;
    justify-content: center;
}
.tudo{
    display: flex;
    width: 900px;
    height: 900px;
    justify-content: center;
    margin: 100px;
 
}